@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-general: var(--font-general), sans-serif;
  --font-zentry: var(--font-zentry), sans-serif;
  --font-circularweb-book: var(--font-circularweb-book), sans-serif;
  --font-robert: var(--font-robert), sans-serif;

  --animate-wiggle: indicator-line 0.5s ease infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #dfdff0;
  font-family: var(--font-general), sans-serif;
}

@keyframes indicator-line {
  0% {
    height: 4px;
    transform: translateY(-0px);
  }
  50% {
    height: 16px;
    transform: translateY(-4px);
  }
  100% {
    height: 4px;
    transform: translateY(-0px);
  }
}

.mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.contact-clip-path-1 {
  clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
}

.contact-clip-path-2 {
  clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
}

.sword-man-clip-path {
  clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
}

.border-hsla {
  border-color: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 20%, transparent);
}

.special-font b {
  font-family: var(--font-zentry), sans-serif;
  font-feature-settings: "ss01" on;
}
